@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Prata&display=swap");
body {
  background-color: #F2F6F2; 
}

* {
    padding: 0;
    margin: 0; 
}  

.nav-style {
  background-color: #5E6D4B;
  display: flex;
  justify-content: space-between;
  opacity: .8; }
  .nav-style img {
    width: 100px; }
  .nav-style ul {
    display: flex;
    justify-content: space-evenly;
    position: absolute; }
    .nav-style ul li {
      list-style: none;
      font-family: "Comfortaa", cursive;
      color: #F2F6F2;
      font-size: 1em;
      text-decoration: none;
      display: flex;
      justify-content: space-evenly;
     }
        .nav-style ul li:hover {
          color: white;
          font-weight: 600;
          background-size: 100% 2px; 
}




.titulosPrincipales {
  font-family: "Prata", serif;
    color: #5E6D4B;
    font-weight: 400;
    font-size: 2.8em;
    text-align: center; 
}

.titulosSecundarios{
   font-family: "Prata", serif;
    color: #5E6D4B;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
}

.titulosAnexos{
  font-size: 1em;
  font-family: "Prata", serif;
  color: #5E6D4B;
  font-weight: 400;

}